$logo-m-color: #CD0F45;
$logo-quotient-color: #748B96;
$lighten-quotient-color: adjust-color($logo-quotient-color, $alpha: -0.3);

$main-background-color: rgba(51, 102, 153, 0.7);
$main-text-color: #000;

@font-face {
    font-family: 'trebuc';
    src: url('../font/trebuc.eot');
    src: url('../font/trebuc.eot') format('embedded-opentype'),
        url('../font/trebuc.ttf') format('truetype'),
        url('../font/trebuc.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,nav,section,firstSection,credits,menu,time,mark,audio,video,canvas {
    margin: 0;
    padding: 0;
    border: 0;
}

::selection {
    background: #000;
    color: white;
}

body {
    margin: 0 auto;
    -webkit-tap-highlight-color: rgba(232, 76, 56, 0.38);
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', 'Open Sans', sans-serif;
}

h1 {font-size: 218%;}

h2 {font-size: 164%;}

h3 {font-size: 145%;}

h4 {font-size: 118%;}

section {
    position: relative;
    width: 100%;
    display: block;
    min-height: 500px;
}

.clear {
    clear: both;
}

.underline {
    text-decoration: underline;
}

.no-padding {
    padding: 0 !important;
}

.wrapper {
    padding: 40px 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.colored-background {
    color: $main-text-color;

    a {
        color: $main-text-color;
    }
}

/* Menu start */
#menu {
    width: 100%;
    position: absolute;
    z-index: 100;

    &[active="section"] {
        position: fixed;
        top: 0 !important;
        padding: 10px 0;
        background-color: $logo-m-color;

        li {
            padding-right: 20px;

            &.home {
                display: table-cell;
            }
        }

        a:hover {
            background-color: rgba(29, 29, 29, 0.5);
            color: white;
        }
    }

    ul {
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        text-align: center;
        line-height: 28px;
        display: table;

        li {
            display: table-cell;
            -webkit-transition: .2s all linear;
            -moz-transition: .2s all linear;
            -o-transition: .2s all linear;
            -ms-transition: .2s all linear;
            transition: .2s all linear;

            &:last-child {
                border-right: 0;
            }

            &.home {
                display: none;
            }

            a {
                padding: 5px 10px;
                text-decoration: none;
                display: block;

                font-size: 1.1em;
                color: #FFF;

                &:hover {
                    background-color: rgba(214, 214, 214, 0.65);
                    color: white;
                }
            }
        }
    }
}
/* Menu End */

/* Main Cover Start */
.m { color: $logo-m-color; }

.q { color: $logo-quotient-color; }


#cover {
    background: url(../img/glyph-medium-res.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    h1 {
        float: left;
        width: 100%;
        color: #222;
        font-family: 'trebuc', sans-serif;
        font-weight: 400;
        font-size: 8em;
        text-align: center;
        line-height: 1em;
        letter-spacing: -4px;
    }

    .wrapper {
        padding: 0px 20px;
        background-color: #F8F8F8;
        background: -webkit-linear-gradient(top, #FFF 50%, $lighten-quotient-color 50%);
        background: -moz-linear-gradient(top, white 50%, $lighten-quotient-color 50%);
        background: -o-linear-gradient(top, white 50%, $lighten-quotient-color 50%);
        background: -ms-linear-gradient(top, white 50%, $lighten-quotient-color 50%);
        background: linear-gradient(top, white 50%, $lighten-quotient-color 50%);
    }

    a {

    }
}

/* Main Cover End */
.para-heading {
    padding-bottom: .2em;
}

.section-heading {
    margin-top: 20px;
    font-size: 2.4em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: right;
    background: #000;
    color: #FFF;
    padding: 10px;
}

ol,
.para-description {
    line-height: 1.7em;
    font-size: 1.2em;
}

.page-txt {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin-top: 20px;

    p {
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 0 20px;
    }
}

#about {
    .col-sm-6 {
        padding-top: 1em;
    }
}

#contactus {
    .wrapper {
        padding: 40px 0 0;
    }

    .social-icon {
        width: 3em;
        height: 3em;
        -webkit-transition: .1s all;
        -moz-transition: .1s all;
        -ms-transition: .1s all;
        -o-transition: .1s all;
        transition: .1s all;

        :hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .social-links {
        a:hover {
            text-decoration: none;
        }
    }
}

#contactuscontainer {
    address {
        color: #000;
        a {
            color: #000;
            text-decoration: underline;
            padding-left: 5px;
        }

        .m, .q {
            font-size: 1.3em;
        }
    }

    .col-sm-4 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

#logo-span {
    font-size: 4em;
    font-weight: 400;
    line-height: 1em;
    font-family: 'trebuc', sans-serif;
}

#map {
    img {
        max-width: none;
    }

    * {
        border-radius: 0 !important;
    }
}

.map-container {
    box-shadow: 0 0 1px rgba(37, 37, 37, 0.25);
    border-top: 1px solid #CFCFCF;
}

.custom-span {
    margin-bottom: 20px
}

i.glyphicon {
    margin-right: 10px;
    vertical-align: baseline;
    opacity: 0.7;
}

.employees-group {
    margin: 0 auto;

    .profile-image img {
        width: 100%;
        border-radius: 16px 0;
    }

    .profile-desc {
        padding: 10px 5px;
        background: #E9E9E9;
        text-align: center;
        margin-top: 10px;
        border-radius: 0 10px;
        min-height: 125px;

        .name {
            font-size: 1.4em;
            color: #535353;
        }

        .title {
            padding-bottom: 5px;
        }

        .name,
        .title {
            display: block;
            color: gray;
        }

        img {
            -webkit-transition: .2s all;
            -moz-transition: .2s all;
            -ms-transition: .2s all;
            transition: .2s all;

            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
            }
        }
    }

    a:hover {
        text-decoration: none;
    }
}


#careerscontainer li {
    margin-left: 1.5em;
}

ul.unstyled {
    list-style: none;

    &.square {
        padding-left: 20px;
        list-style-type: square;
        padding-left: 1.5em;
    }

    li {
        line-height: 1.7em;
        font-size: 1.2em;
    }
}

#careerscontainer .unstyled li {
    margin-left: 0;
}

#careerscontainer .small {
    font-size: 1em;
}

/* Placeholders */
::-webkit-input-placeholder { font-family: 'Open Sans' , sans-serif; font-size: small }
::-moz-placeholder { font-family: 'Open Sans' , sans-serif; font-size: small } /* firefox 19+ */
:-ms-input-placeholder { font-family: 'Open Sans', sans-serif; font-size: small } /* ie */
input:-moz-placeholder { font-family: 'Open Sans', sans-serif; font-size: small }

/*Responsive Css*/
@media (max-width: 768px) {
    body {
        font-size: 11px;
    }

    #covercontainer a {
        padding: 5px;
        font-size: 1em;
    }

    #cover {
        background-image: url(../img/glyph-low-res.jpg);

        h1 {
            font-size: 7em;
        }
    }
    #menu {
        ul li a {
            padding: 5px;
        }

        li {

            &.home {
                display: none;
            }
        }

        &[active="section"] li {
            padding-right: 0;

            &.home {
                display: none;
            }
        }
    }
}

@media (min-width: 691px) {
    .profile-card {
        width: 25%;
        float: left;
    }
}

@media (min-width: 526px) and (max-width: 767px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 525px) and (min-width: 480px) {
    body {
        font-size: 11px;
    }

    #menu[active="section"] li {
        padding-right: 3px;
    }
}

@media (min-width: 420px) and (max-width: 690px) {
    .profile-card {
        width: 50%;
        float: left;
    }
}

@media (max-width: 350px) {
    #menu {
        ul li a {
            padding: 3px;
        }
    }
}

@media (min-width: 671px) {
    #logo-span {
        font-size: 2em;
        line-height:1.4em;
    }
}

@media (min-width: 1200px) {
    #contactuscontainer .col-sm-4 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        height: 150px;
    }

    #cover {
        background-image: url(../img/glyph-high-res.jpg);
    }
}