@font-face {
  font-family: 'trebuc';
  src: url("../font/trebuc.eot");
  src: url("../font/trebuc.eot") format("embedded-opentype"), url("../font/trebuc.ttf") format("truetype"), url("../font/trebuc.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, firstSection, credits, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0 auto;
  -webkit-tap-highlight-color: rgba(232, 76, 56, 0.38);
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

section {
  position: relative;
  width: 100%;
  display: block;
  min-height: 500px;
}

.clear {
  clear: both;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1000px;
}

.wrapper {
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.down {
  width: 100%;
  height: 80px;
}

.down a {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.down img {
  padding: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.down a:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.colored-background {
  background-color: #336699;
  color: #d5d5d5;
}
.colored-background .para-description {
  font-weight: 300;
}

.white-background {
  background-color: #fff;
}

/* Menu start */
#menu {
  position: fixed;
  left: 0px;
  top: -30px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 3000;
}

#menu ul li a {
  color: #000;
  text-transform: uppercase;
}

#menu .navcontainer li {
  background: white;
  padding: 4px;
  margin-right: -5px;
  border: 1px solid #c2c2c2;
}

#menu li.active, #menu li:hover {
  background: #dddddd;
}

#floating-menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 0px;
  z-index: 12;
}

#floating-menu > div {
  margin-left: 20px;
}

#floating-menu .btn {
  margin-top: -1px;
  border-radius: 0;
  font-size: 1.4em;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
}

#floating-menu .btn:hover {
  background-position: 0;
}

#floating-menu .btn.nav-item {
  line-height: 32px;
  position: relative;
  -webkit-transition: 0.6s all cubic-bezier(0.74, -0.43, 0.45, 1.29);
  -moz-transition: 0.6s all cubic-bezier(0.74, -0.43, 0.45, 1.29);
  -ms-transition: 0.6s all cubic-bezier(0.74, -0.43, 0.45, 1.29);
  -o-transition: 0.6s all cubic-bezier(0.74, -0.43, 0.45, 1.29);
  transition: 0.6s all cubic-bezier(0.74, -0.43, 0.45, 1.29);
  -webkit-transform: translateX(calc(100% + 15px));
  -moz-transform: translateX(calc(100% + 15px));
  -o-transform: translateX(calc(100% + 15px));
  -ms-transform: translateX(calc(100% + 15px));
  transform: translateX(calc(100% + 15px));
}

#floating-menu .btn.nav-item.shown {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#floating-menu .menu-btn {
  height: 32px;
  width: 32px;
  padding: 5px;
  cursor: pointer;
  display: block;
  box-sizing: content-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#floating-menu .menu-btn.shown {
  background: #ddd;
}

#floating-menu .menu-image {
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 32px;
}

#floating-menu .menu-image {
  opacity: .7;
  width: 32px;
  height: 32px;
}

#floating-menu .menu-image.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  line-height: 28px;
}

.navcontainer ul li {
  display: inline;
}

.navcontainer ul li a {
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  position: relative;
  top: 0;
  -webkit-transition: .2s all linear;
  -moz-transition: .2s all linear;
  -o-transition: .2s all linear;
  -ms-transition: .2s all linear;
  transition: .2s all linear;
  font-size: 1.1em;
}

#cover .navcontainer ul li a:hover {
  color: #336699;
  background-color: #fff;
}

/* Menu End */
/* Main Cover Start */
.m {
  color: #CC0021;
}

.q {
  color: #748B96;
}

#cover h1 {
  float: left;
  width: 100%;
  color: #222;
  font-family: 'trebuc', sans-serif;
  font-weight: 400;
  font-size: 8em;
  text-align: center;
  line-height: 1em;
  letter-spacing: -4px;
}

#cover .wrapper {
  padding: 0px 20px;
}

#cover {
  background-color: #fff;
  background: -webkit-linear-gradient(top, white 50%, #336699 50%);
  background: -moz-linear-gradient(top, white 50%, #336699 50%);
  background: -o-linear-gradient(top, white 50%, #336699 50%);
  background: -ms-linear-gradient(top, white 50%, #336699 50%);
  background: linear-gradient(top, white 50%, #336699 50%);
}

/* Main Cover End */
.section-heading,
.ul-heading,
.para-heading {
  font-weight: 300;
}

.section-heading {
  text-align: center;
}

ol,
.para-description {
  line-height: 2em;
  font-size: 1.2em;
}

.ul-heading {
  padding-bottom: 5px;
}

.saperator {
  content: '';
  background: url(../img/separator.png) center center no-repeat;
  display: block;
  margin: 0 auto;
  height: 30px;
  margin-top: 30px;
}

.page-txt {
  font-size: 1.2em;
  line-height: 1.5;
  color: black;
  text-align: justify;
  margin-top: 20px;
}

.page-txt p {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 20px;
}

#about .col-sm-6 {
  padding-top: 1em;
}

#about h1 {
  color: black;
  font-size: 4em;
  line-height: 1em;
  margin-top: 5px;
}

h1.section-heading {
  font-size: 3.8em;
  line-height: 1em;
}

.social-icon {
  width: 3em;
  height: 3em;
  -webkit-transition: .1s all;
  -moz-transition: .1s all;
  -ms-transition: .1s all;
  -o-transition: .1s all;
  transition: .1s all;
}

.social-icon:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#contactuscontainer address a {
  text-decoration: underline;
}

#contactuscontainer .col-sm-4 {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

#logo-span {
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
  font-family: 'trebuc', sans-serif;
  color: #fff;
}

#contactus .wrapper {
  padding: 40px 0 0;
}

#map img {
  max-width: none;
}

.map-container {
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 3px rgba(37, 37, 37, 0.25);
}

.custom-span {
  margin-bottom: 20px;
}

#careerscontainer h1 {
  color: black;
}

#careerscontainer p,
#careerscontainer i {
  color: #242424;
  font-size: 1.2em;
}

#careerscontainer i {
  margin-right: 10px;
  vertical-align: baseline;
  opacity: 0.7;
}

#productscontainer {
  color: #d5d5d5;
}

/* Profile Card Start  */
.our-team {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  position: relative;
  margin-bottom: 15px;
  max-width: 200px;
  border: 1px solid #ddd;
}

custom-profile-image-div,
.custom-profile-image {
  width: 100%;
}

.employees-group {
  margin: 0 auto;
}

.profile-template {
  margin-bottom: 1em;
}

.profile-info {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 5px;
}

.custom-profile-info {
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

.designation {
  font-size: .8em;
}

.social-info {
  margin-top: 5px;
}

.grid figure .social-info img {
  display: inline-block;
  width: auto;
}

.grid {
  margin: 40px;
}

.grid > a {
  float: left;
  width: 25%;
  color: #333;
}

.grid figure {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background: #333;
  border: 1px solid #ddd;
}

.grid figure > img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  padding-top: 30px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.grid figcaption {
  position: absolute;
  top: 0;
  z-index: 11;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.grid figcaption h2 {
  margin: 0 0 20px 0;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 130%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.grid figcaption p {
  padding: 0 20px;
  color: #aaa;
  font-weight: 300;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.grid figure button {
  position: absolute;
  padding: 4px 20px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
  position: absolute;
  top: -1px;
  /* fixes rendering issue in FF */
  z-index: 10;
  width: 100%;
  height: 100%;
}

.grid svg path {
  fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
  opacity: 1;
}

.grid a figcaption h2 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.grid a:hover figcaption p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.grid a figcaption p {
  opacity: 0;
}

.grid a:hover figcaption p {
  opacity: 1;
}

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */
@media screen and (max-width: 58em) {
  .grid a {
    width: 33.333%;
  }
}
@media screen and (max-width: 45em) {
  .grid {
    max-width: 500px;
  }

  .grid a {
    width: 50%;
  }

  .grid figcaption h2 {
    margin-bottom: 0px;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  .grid figcaption p {
    margin: 0;
    padding: 0 10px;
  }
}
@media screen and (max-width: 27em) {
  .grid {
    max-width: 250px;
  }

  .grid a {
    width: 100%;
  }
}
/* Profile Card End  */
.img-polaroid.custom-image-polaroid {
  padding: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

#careerscontainer li {
  margin-left: 20px;
}

ul.unstyled {
  list-style: none;
}
ul.unstyled li {
  line-height: 2em;
}

#careerscontainer .unstyled li {
  margin-left: 0;
}

#careerscontainer .small {
  font-size: 1em;
}

/* Placeholders */
::-webkit-input-placeholder {
  font-family: 'Open Sans' , sans-serif;
  font-size: small;
}

::-moz-placeholder {
  font-family: 'Open Sans' , sans-serif;
  font-size: small;
}

/* firefox 19+ */
:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

/* ie */
input:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

/*Responsive Css*/
@media (max-width: 768px) {
  body {
    font-size: 11px;
  }

  #menu {
    display: none;
  }

  #floating-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  #menu ul li a {
    text-transform: capitalize;
    padding-left: 3px;
    padding-right: 2px;
  }

  #cover h1 {
    font-size: 7em;
  }
}
@media (min-width: 691px) {
  .col-md-3 {
    width: 25%;
  }

  .col-md-3 {
    float: left;
  }
}
@media (min-width: 526px) and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 525px) and (min-width: 480px) {
  body {
    font-size: 11px;
  }
}
@media (min-width: 420px) and (max-width: 690px) {
  .col-md-3 {
    width: 50%;
  }

  .col-md-3 {
    float: left;
  }
}
@media (min-width: 721px) and (max-width: 1191px) {
  .grid figure > img {
    padding-top: 25px;
  }
}
@media (min-width: 929px) and (max-width: 991px) {
  .grid figcaption {
    padding-top: 3px;
  }
}
/* span width to 48% on low resolution devices */
@media (min-width: 671px) {
  #logo-span {
    font-size: 2em;
    line-height: 1.4em;
  }
}
@media (min-width: 1200px) {
  #contactuscontainer .col-md-4 {
    padding-top: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
