<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,300,600' rel='stylesheet'>
        <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css"/>
        <title>MQuotient</title>
    </head>

    <body lang="en">
        <div id="menu" class="navcontainer">
            <ul>
                <li>
                    <a class="goToSection" href="#about">About Us</a>
                    <p>This is small description</p>
                </li>
                <li>
                    <a class="goToSection" href="#products">Products</a>
                    <p>This is small description</p>
                </li>
                <li>
                    <a class="goToSection" href="#solutions">Solutions</a>
                    <p>This is small description</p>
                </li>
                <li>
                    <a class="goToSection" href="#careers">Careers</a>
                    <p>This is small description</p>
                </li>
                <li>
                    <a class="goToSection" href="#contactus">Contact Us</a>
                    <p>This is small description</p>
                </li>
                <li>
                    <a target="_blank" href="http://blog.mquotient.net">Blog</a>
                    <p>This is small description</p>
                </li>
            </ul>
        </div>
        <section id="cover">
            <div class="wrapper">
                <div id="covercontainer">
                    <h1 id="logo"><span class="m">m</span><span class="q">quotient</span></h1>
                </div>
            </div>
        </section>

        <section id="about" class="colored-background hide section">
            <div class="wrapper">
                <h1 class="section-heading">About Us</h1>
                <div class="saperator"></div>
                <div id="aboutcontainer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-txt">
                                    <p class="para-description">
                                        Want to condense your sales cycles, reduce cost per customer sign up, and improve customer satisfaction & retention? mquotient is building the solutions you need to succeed.
                                    </p>
                                    <p class="para-description">
                                        In today’s mobile world, instant is the operating word, we are taking laborious manual processes in your customer engagement process out of the equation.
                                    </p>
                                    <p class="para-description">
                                        Our products are highly scalable and can be deployed locally inside your network or hosted on some of the most secure cloud networks. Open APIs allow seamless connection to your existing systems for pushing and pulling data.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="employees-group rows-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="down" title="Products"><a href="#products"></a></div>
        </section>
        <section id="products" class="colored-background hide section">
            <div class="wrapper">
                <h1 class="section-heading">Products</h1>
                <div class="saperator"></div>
                <div id="productscontainer">
                    <div class="container page-txt">
                        <h2 class="para-heading">GlyphX</h2>
                        <p class="para-description">
                            GlyphX is a customer onboarding solution which automates the manual data and business processes in creating and managing customers.  It uses ICR (Intelligent Character Recognition) and Artificial Intelligence algorithms to convert handwritten and printed documents to digital format.
                        </p>
                        <p class="para-description">
                            The solution allows data processing in near- Real time. The ability to scale instantly allows processing the peak volumes without any delay.
                        </p>
                        <a href="documents/IRS.pdf" class="underline">Download Brochure</a>
                    </div>
                </div>
            </div>
            <div class="down" title="Solutions"><a href="#solutions"></a></div>
        </section>

        <section id="solutions" class="colored-background hide section">
            <div class="wrapper">
                <h1 class="section-heading">Solutions</h1>
                <div class="saperator"></div>
                <div id="solutionscontainer">
                    <div class="container page-txt">
                        <h2 class="para-heading text-center">Telecommunications</h2>
                        <br>
                        <h3 class="para-heading">Charging Gateway</h3>
                        <p class="para-description">
                            3GPP Standards compliant Charging Gateway Function with an advanced Graphical User Interface, Alarms and Monitoring, Integrade CDR decoder and databases
                        </p>
                        <br>
                        <h3 class="para-heading">Call Records Database</h3>
                        <p class="para-description">
                            Call Records Database provides run time decoding and storage of CDRs.  This comes integrated with highly scalable database to store millions of records and query efficiently on any CDR parameters.  This helps our clients to service customers and resolve service requests quickly
                        </p>
                        <br>
                        <h3 class="para-heading">We also offer Banking, Financial Services & Insurance</h2>
                        <ul class="unstyled square">
                            <li> Data & Contact Management </li>
                            <li> Business Process Management </li>
                            <li> ERP Integration </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="down" title="Careers"><a href="#careers"></a></div>
        </section>

        <section id="careers" class="colored-background hide section">
            <div class="wrapper">
                <h1 class="section-heading">Want to join us?</h1>
                <div class="saperator"></div>
                <div id="careerscontainer">
                    <div class="container">
                        <div class="page-txt">
                            <h3 class="para-heading">What do we do?</h3>
                            <p class="para-description">
                                You know the times which left your wondering why your Number Portability application took two weeks before you shifted providers or when your bank account became operational 13 days after you applied for it, the programs we write resolve issues as these.
                            </p>
                            <p class="para-description">
                                Our broad vision is to provide customer experience solutions which drastically reduce turnaround time for companies by automating mundane manual processes. Businesses should not only get back to you immediately, they should also give you an experience that’s more efficient, consistent and personalized across multiple touch points as Web, Field Agents, Retail &  Mobile.
                            </p>
                            <p class="para-description">
                                Look into the solutions we are working on, if the problems we are solving are challenging for you, check out the openings we have currently.
                            </p>
                        </div>

                        <br>

                        <div class="page-txt">
                            <h3 class="para-heading">Do you fit in?</h3>
                            <p class="para-description no-padding">We are looking for people who like solving the tough problems</p>
                            <ul class="unstyled">
                                <li><i class="glyphicon glyphicon-ok"></i> Do you generally punch above your weight?</li>
                                <li><i class="glyphicon glyphicon-ok"></i> Does the thought of building advanced self learning systems excite you?</li>
                                <li><i class="glyphicon glyphicon-ok"></i> Do you like to learn a new thing everyday?</li>
                            </ul>
                            <br>
                            <p class="para-description">
                                If so, we’d like to hear from you. We’re building outstanding customer experience products and need you to help us build it the right way, drop your resume to  <a href="mailto:careers@mquotient.net">@careers</a>.  Do include samples of you best work if you can.
                            </p>
                        </div>

                        <br>

                        <div class="page-txt">
                            <h3 class="para-heading">What you’d be doing?</h3>
                            <ol>
                                <li>
                                    You will be working in our R&D Lab where we do all our experiments and inventions.  These are rapid prototyping where we do amazing innovations.  It is an absolute software playground and we let you build grand castles and have a free reign
                                </li>
                                <li>
                                    You will be writing production ready code which will be deployed in the servers of some of the largest companies in the world.  These will be highly scalable and robust code with an expected uptime of more than 99.99%.  Don't worry, we will also teach you how to do that.
                                </li>
                                <li>
                                    You will be required to keep yourself up to date on everything new in the software.  You will be given topics or languages to learn and teach your colleagues.
                                </li>
                                <li>
                                    Above all, you will have the opportunity to sit back and enjoy some of the world beating products that you built.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="down" title="Contact Us"><a href="#contactus"></a></div>
        </section>

        <section id="contactus" class="colored-background hide section">
            <div class="wrapper">
                <div id="contactuscontainer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <p class="para-description">
                                    407/ Building 2, Gera Gardens Condominium,
                                    <br>
                                    7-A Koregaon Park, North Main Road,
                                    <br>
                                    Pune - 411001, India
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <h4 id="logo-span">
                                    mquotient
                                </h4>
                                <div class="social-links">
                                    <a href="http://www.linkedin.com/company/1948874?trk=tyah" target="_blank">
                                        <img class="social-icon" src="img/social/linkedin.svg" alt="linkedin Account">
                                    </a>

                                    <a href="https://twitter.com/MQuotient" target="_blank">
                                        <img class="social-icon" src="img/social/twitter.svg" alt="twitter Account">
                                    </a>

                                    <a href="https://www.facebook.com/mquotient" target="_blank">
                                        <img class="social-icon" src="img/social/facebook.svg" alt="facebook Account">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    Email: <a href="mailto:info@mquotient.net">info@mquotient.net</a>
                                </div>
                                <div>
                                    Tel: <a href="tel:02041204763">(020) 41204763</a>
                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <br>
                    <div class="map-container">
                        <div id="map" class="container-fluid" style="height:400px;"></div>
                    </div>
                </div>
            </div>
        </section>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/application.js"></script>
        <script src="js/employees.js"></script>

        <script id="employeesTemplate" type="text/template">
            <%_.forEach(employees, function (employee, index) {%>
            <div class="profile-card col-md-3 col-sm-6 col-xs-12">
                <div class="profile-image">
                    <img alt="<%= employee.name %>'s Avatar" src="img/profiles/<%= employee.shortname %>.jpg" />
                </div>
                <div class="profile-desc">
                    <span class="name"><%=employee.name%></span>
                    <span class="title"><%= employee.position %></span>
                    <div class="social-info">
                        <% if (employee.linkedin) { %>
                            <a target="_blank" href="<%= employee.linkedin %>">
                                <img width="32" height="32" src="img/social/linkedin-rect.svg" alt="linkedin Account"/>
                            </a>
                        <% } %>
                        <% if (employee.twitter) { %>
                            <a target="_blank" href="<%= employee.twitter %>">
                                <img width="32" height="32" src="img/social/twitter-rect.svg" alt="twitter Account"/>
                            </a>
                        <% } %>
                        <% if (employee.github) { %>
                            <a target="_blank" href="<%= employee.github %>">
                                <img width="32" height="32" src="img/social/github-rect.svg" alt="github Account" />
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
            <%});%>
        </script>

        <script id="addressTemplate" type="text/template">
            <div>
                <address>
                    <strong>
                        <span class="m">m</span><span class="q">quotient</span>
                    </strong>
                    <br>
                    407/ Building 2,
                    <br>
                    Gera Gardens Condominium,
                    <br>
                    7-A Koregaon Park,
                    <br>
                    North Main Road,
                    <br>
                    Pune - 411001
                    <br>
                    Landmark: St. Mira College
                    <br>
                    <span>P:</span>
                    + 91 (020) 4120 4763
                    <br>
                    <a target="_blank" href="http://goo.gl/maps/qKhfo" title="Click to see this area on Google Maps">
                        <i class="glyphicon glyphicon-map-marker" style="margin-left: -5px;"></i>View this location on Map
                    </a>
                </address>
            </div>
        </script>
        <script>
            // Append the template
            $('.employees-group').append(_.template($('#employeesTemplate').html(), {employees: employees}));
        </script>
    </body>
</html>
