<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css"/>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/application.js"></script>
        <script src="js/snap.svg-min.js"></script>
        <script src="js/employees.js"></script>
        <title>MQuotient</title>
    </head>

    <body lang="en">
        <div id="container">
            <section id="cover">
                <div class="wrapper">
                    <div id="covercontainer">
                        <h1><span class="m">m</span><span class="q">quotient</span></h1>
                        <div class="navcontainer">
                            <ul>
                                <li><a class="goTo" href="#about">About Us</a></li>
                                <li><a class="goTo" href="#products">Products</a></li>
                                <li><a class="goTo" href="#solutions">Solutions</a></li>
                                <li><a class="goTo" href="#service">Services</a></li>
                                <li><a class="goTo" href="#careers">Careers</a></li>
                                <li><a class="goTo" href="#contactus">Contact Us</a></li>
                                <li><a target="_blank" href="http://blog.mquotient.net">Blogs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="about" class="white-background">
                <div class="wrapper">
                    <div id="aboutcontainer">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="section-heading">About <span style="font-weight:600">Us</span></h1>
                                    <div class="saperator"></div>
                                    <div class="page-txt">
                                        <p class="para-description">
                                            Want to condense your sales cycles, reduce cost per customer sign up, and improve customer satisfaction & retention? mquotient is building the solutions you need to succeed.
                                        </p>
                                        <p class="para-description">
                                            In today’s mobile world, instant is the operating word, we are taking laborious manual processes in your customer engagement process out of the equation.
                                        </p>
                                        <p class="para-description">
                                            Our products are highly scalable and can be deployed locally inside your network or hosted on some of the most secure cloud networks. Open APIs allow seamless connection to your existing systems for pushing and pulling data.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container">
                            <h4 class="our-team">Our Team</h4>
                            <div class="employees-group grid" id="grid"></div>
                        </div>
                    </div>
                </div>
                <div class="down"><a href="#products"></a></div>
            </section>
            <section id="products" class="colored-background">
                <div class="wrapper">
                    <div id="productscontainer">
                        <div class="container">
                            <h1 class="section-heading">Products</h1>
                            <div class="saperator"></div>
                            <h2 class="para-heading">Glyfix</h2>
                            <br>
                            <p class="para-description">
                                GlyphX based on ICR (Intelligent Character Recognition) and Artificial Intelligence technology to convert physical handwritten text into digital format through machine reading. Using a scanner, the hand-written data is read by a software, hence eliminating the need of Manual Data Entry. The focus of the product is a high level of accuracy, with an emphasis on minimizing the cost.
                            </p>
                            <p class="para-description">
                                The solution allows data processing in near- Real time. The ability to scale instantly allows processing the peak volumes without any delay.
                            </p>
                            <br>
                            <h2 class="para-heading">Boxcite</h2>
                            <br>
                            <p class="para-description">
                                Boxcite is an integrated marketing and sales platform to record, organize, action, analyze and report customer data to enable enterprises to drive profits from multi-channel marketing programs. Boxcite is built using open source technologies and integrates easily with various CRM, ERP and legacy systems.  The applications of Boxcite are several – as a data mart integrating data from multiple sources, for multi-channel demand generation, sales automation, CRM, performance analysis and campaign management.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="down"><a href="#services"></a></div>
            </section>

            <section id="services" class="white-background">
                <div class="wrapper">
                    <div id="servicescontainer">
                        <div class="container">
                            <h1 class="section-heading">Services</h1>
                            <div class="saperator"></div>
                            <h2 class="para-heading">Application Development</h2>
                            <br>
                            <p class="para-description">
                                Our solutions are designed around the concept of user configurability that ranges from workflows, work lists and data fields to security, data dictionary and reporting.
                            </p>
                            <br>
                            <p class="para-description">
                                We build powerful applications for the enterprise with a strong focus on ease of use. Our software marries cutting edge Computer Science research with great usability and brings it to the real world. We have built applications in domains ranging from telecommunications to state-of-the-art Document Analysis and Computer Vision.
                            </p>
                            <br>
                            <h2 class="para-heading">Support & Maintenance Services</h2>
                            <br>
                            <p class="para-description">
                                Post-sales customer relationships are a priority for us. mquotient provides modifications, enhancements & production support as part of software maintenance services. Our support portfolio includes:
                            </p>
                            <br>
                            <ul class="unstyled spaced">
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Maintenance support of mquotient Applications & Products</li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Application monitoring and report generation</li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Software Performance assessment </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="down"><a href="#solutions"></a></div>
            </section>

            <section id="solutions" class="colored-background">
                <div class="wrapper">
                    <div id="solutionscontainer">
                        <div class="container">
                            <h1 class="section-heading">Solutions</h1>
                            <div class="saperator"></div>
                            <h2 class="para-heading text-center">Banking, Financial Services & Insurance</h2>
                            <br>

                            <h3 class="ul-heading">Data & Contact Management</h3>
                            <ul class="unstyled spaced">
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Data Storage </li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Retrieval including Remote Retrieval </li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Access Rights Management </li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> De-duplication</li>
                            </ul>
                            <br>
                            <h3 class="ul-heading">Workflow Management</h3>
                            <ul class="unstyled spaced">
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Customizable and flexible workflows</li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Workflow will move a product through entire life cycle</li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Support touch points for initiating communication with contacts and other stake </li>
                            </ul>
                            <br>
                            <h3 class="ul-heading">ERP Integration</h3>
                            <ul class="unstyled spaced">
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Integrates with external ERP systems</li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Provides a standard compliant RESTful API for function access</li>
                                <li><i class="glyphicon glyphicon-chevron-right"></i> Provides an open connector model which allows plugging in or third party ERP systems</li>
                            </ul>

                            <br>

                            <h2 class="para-heading text-center">Telecommunications</h2>
                            <br>
                            <h3 class="ul-heading">Charging Gateway</h3>
                            <p class="para-description">
                                The Charging Gateway implements the Charging Gateway Function on the core network as per the required 3Gpp standards. This is a standard compliant gateway which provides support to all CDRs which standard and manufacturer defined fields.
                            </p>
                            <br>
                            <h3 class="ul-heading">CDR (Call Data Records) Storage & Retrieval</h3>
                            <p class="para-description">
                                CDR Storage and Retrieval allows storage of CDRs for any duration for durable storage and retrieval.  All CDRs are indexed for instant retrieval based on queries which can be made through the command line or using APIs.
                            </p>
                            <br>
                            <h3 class="ul-heading">Reverse DNS Lookup</h3>
                            <p class="para-description">
                                A Reverse DNS Lookup tool is used to extract the destination from the IP headers and do a reverse lookup to identify the web site which is being accessed.
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="down"><a href="#careers"></a></div>
            </section>

            <section id="careers" class="white-background">
                <div class="wrapper">
                    <div id="careerscontainer">
                        <div class="container">
                            <h1 class="section-heading">Want to join Us?</h1>
                            <div class="saperator"></div>
                            <div>
                                <h4>What do we do?</h4>
                                <br>
                                <p class="para-description">
                                    You know the times which left your wondering why your Number Portability application took 2 weeks before you shifted providers or when your bank account became operational 13 days after you applied for it, the programs we write resolve issues as these.
                                </p>
                                <br>
                                <p class="para-description">
                                    Our broad vision is to provide customer experience solutions which drastically reduce turnaround time for companies by automating mundane manual processes. Businesses should not only get back to you immediately, they should also give you an experience that’s more efficient, consistent and personalized across multiple touch points as Web, Field Agents, Retail &  Mobile.
                                </p>
                                <br>
                                <p class="para-description">
                                    Look into the solutions we are working on, if the problems we are solving are challenging for you, check out the openings we have currently.
                                </p>
                            </div>

                            <br><br>

                            <div>
                                <h4>Do you fit in?</h4>
                                <br>
                                <p class="para-description">We are looking for people who solve issues around them.</p>
                                <br>
                                <p class="para-description">
                                    <ul class="unstyled spaced">
                                        <li><i class="glyphicon glyphicon-ok"></i> Do you generally punch above your weight?</li>
                                        <li><i class="glyphicon glyphicon-ok"></i> Are you willing to give all that it takes to support your team?</li>
                                        <li><i class="glyphicon glyphicon-ok"></i> Do you get frustrated by getting scrutinized through multiple layers of bureaucracy? </li>
                                    </ul>
                                </p>
                                <br>
                                <p class="para-description"> If so, we’d like to hear from you. We’re building outstanding customer experience products and need you to help us build it the right way, drop in a note to Vijisha @ <a href="mailto:vijisha@mquotient.net">vijisha@mquotient.net</a>, with samples of some recent work you are proud of. </p>
                            </div>

                            <br><br>

                            <div>
                                <h4>What you’d be doing?</h4>
                                <br>
                                <ol>
                                    <li>
                                        You will be working on our labs projects where we do all our experiments and inventions.  These are rapid prototyping where we do amazing innovations.  It is an absolute software playground and we let you build grand castles.
                                    </li>
                                    <li>
                                        You will be writing production ready code which will be deployed in the servers of some of the largest companies in the world.  These will be highly scalable and robust code with an expected uptime of more than 99.99%.  Don't worry, we will also teach you how to do that.
                                    </li>
                                    <li>
                                        You will be required to keep yourself up to date on everything new in the software.  You will be given topics or languages to learn and teach your colleagues.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="down"><a href="#contactus"></a></div>
            </section>

            <section id="contactus" class="colored-background">
                <div class="wrapper">
                    <div id="contactuscontainer">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="para-description">
                                        407/ Building 2, Gera Gardens Condominium,
                                        <br>
                                        7-A Koregaon Park, North Main Road,
                                        <br>
                                        Pune - 411001, India
                                    </p>
                                </div>
                                <div class="col-sm-4" style="margin-top: 0;">
                                    <p class="para-description">
                                        <h4 id="logo-span">
                                            mquotient
                                        </h4>
                                        <br>
                                        <a href="http://www.linkedin.com/company/1948874?trk=tyah" target="_blank">
                                            <img class="social-icon" src="img/social/linkedin.svg" alt="linkedin Account">
                                        </a>

                                        <a href="https://twitter.com/MQuotient" target="_blank">
                                            <img class="social-icon" src="img/social/twitter.svg" alt="twitter Account">
                                        </a>

                                        <a href="https://www.facebook.com/mquotient" target="_blank">
                                            <img class="social-icon" src="img/social/facebook.svg" alt="facebook Account">
                                        </a>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    Email: info@mquotient.net
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <br>
                        <div class="map-container">
                            <div id="map" class="container-fluid" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
            </section>

            <script id="employeesTemplate" type="text/template">
                <%_.forEach(employees, function (employee, index) {%>
                <a href="#" data-path-hover="M 180,160 0,218 0,0 180,0 z">
                    <figure>
                        <img alt="<%= employee.name %>'s Avatar" src="img/profiles/<%= employee.shortname %>.jpg" />
                        <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="m 180,50 -180,0 L 0,0 180,0 z"/></svg>
                        <figcaption>
                            <h2><%=employee.name%></h2>
                            <p class="para-description"><%= employee.position %></p>
                            <p class="social-info">
                                <img width="32" height="32" src="img/social/linkedin-rect.svg" alt="linkedin Account"/>
                                <img width="32" height="32" src="img/social/twitter-rect.svg" alt="twitter Account"/>

                                <% if (employee.github) { %>
                                    <img width="32" height="32" src="img/social/github-rect.svg" alt="github Account" />
                                <% } %>
                            </p>
                        </figcaption>
                    </figure>
                </a>
                <%});%>
            </script>
            <script>
                // Append the template
                $('.employees-group').append(_.template($('#employeesTemplate').html(), {employees: employees}));

                // Apply hover effect on employe card
                (function () {
                    function init() {
                        var speed = 250,
                            easing = mina.easeinout;

                        [].slice.call(document.querySelectorAll('#grid > a')).forEach(function (el) {
                            var s = Snap(el.querySelector('svg')), path = s.select('path'),
                                pathConfig = {
                                    from : path.attr('d'),
                                    to : el.getAttribute('data-path-hover')
                                };

                            el.addEventListener('mouseenter', function () {
                                path.animate({ 'path' : pathConfig.to }, speed, easing);
                            });

                            el.addEventListener('mouseleave', function () {
                                path.animate({ 'path' : pathConfig.from }, speed, easing);
                            });
                        });
                    }

                    init();

                })();
            </script>
        </div>

        <div id="menu">
            <div class="navcontainer">
                <ul>
                    <li><a class="goTo" href="#cover" data-id="cover">Home</a></li>
                    <li><a class="goTo" href="#about" data-id="about">About Us</a></li>
                    <li><a class="goTo" href="#products" data-id="products">Products</a></li>
                    <li><a class="goTo" href="#services" data-id="services">Services</a></li>
                    <li><a class="goTo" href="#solutions" data-id="solutions">Solutions</a></li>
                    <li><a class="goTo" href="#careers" data-id="careers">Careers</a></li>
                    <li><a class="goTo" href="#contactus" data-id="contactus">Contact Us</a></li>
                    <li><a target="_blank" href="http://blog.mquotient.net">Blogs</a></li>
                </ul>
            </div>
        </div>

        <div id="floating-menu">
            <div>
                <a id="menu-btn" class="pull-right menu-btn">
                    <img src="img/menu.svg" class="menu-image"></img>
                </a>
            </div>
            <div><a href="#cover" class="btn btn-block pull-right nav-item goTo">Home</a></div>
            <div><a href="#about" class="btn btn-block pull-right nav-item goTo">About Us</a></div>
            <div><a href="#products" class="btn btn-block pull-right nav-item goTo">Products</a></div>
            <div><a href="#services" class="btn btn-block pull-right nav-item goTo">Services</a></div>
            <div><a href="#solutions" class="btn btn-block pull-right nav-item goTo">Solutions</a></div>
            <div><a href="#careers" class="btn btn-block pull-right nav-item goTo">Careers</a></div>
            <div><a href="#contactus" class="btn btn-block pull-right nav-item goTo">Contact Us</a></div>
        </div>
    </body>
</html>
